# Python
__pycache__/

# Виртуальное окружение
venv/
env/
ENV/

# Логи
logs/
*.log

# csv
csv/

# Базы данных
db/

# Временные файлы
*.tmp
*.temp
*.bak
*.swp
*.swo

# Среда разработки
.vscode/

# Исходники сайтов
sourse/
parsers/txts/
# Старые файлы
старые/


# Установка пакета
dpo_diplom.egg-info/
setup.py

# Файлы с незаполненными данными
*.txt
!requirements.txt

# SQL запросы (если не нужны в репе)
sql_request/

# Парсеры — если не хотите хранить их исходники в репе (опционально)
# parsers/